html {
    height: 10vh;
}

.footer-spacer {
    height: 8.0rem;
}

.small-footer-spacer {
    height: 4.0rem;
}

#main-footer-container {
    display: flex;
    justify-content: center;
}

#main-footer-content {
    display: flex;
    width: max-content;
    max-width: 750px;
    gap: 5rem;
}

.main-footer-support-block {
    flex-grow: 1;
}

.main-footer-info {
    min-width: 7.65em;
    line-height: 24px;
}

.main-footer-block-title {
    font-size: 24px;
}

.main-footer-text-descritption {
    padding: 5px 0px;
    font-size: 20px;
    color: #FFFFFFA1;
}

#main-footer-support-chat-button {
    font-size: 20px;
    padding: 25px 26px;
    color: white;
    background: #780000;
    border-radius: 10px;
    border: none;
}