.slider {
  padding-top: 30px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 60px;
  position: relative;
}

.decription {
  color: rgba(255, 255, 255, 0.63);
  margin: 0;
  padding-top: 15px;
  padding-right: 0px;
  font-size: 24px;
  padding-bottom: 15px;
}
.title {
  margin-top: 10px;
  font-size: 40px;
}

.WhatchNow {
  border-radius: 10px;
  font-size: 24px;
  background: #780000;
  color: white;
  border: none;
  cursor: pointer;
  transition:
    background 0.3s ease,
    left 0.3s ease;
  min-width: 300px;
  height: 55px;
  margin-bottom: 10px;
  align-self: flex-end;
}

.slider-content {
  display: flex;
}

.slider-spacer {
  flex-grow: 1;
}
